<div class="container cstm-container">
  <img src="../assets/logo.svg" class="logo" alt="logo">
  
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Air Quality</h5>
          <div class="inner-content">
            <div class="icon-area">
              72
            </div>
            <div class="content-area">
              <div class="positive-value">
                <img src="../assets/arrow-up.svg">
                
                <span>93</span>
              </div>
              <div class="negative-value">
                <img src="../assets/arrow-down.svg">
                
                <span>93</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Temperature</h5>
          <div class="inner-content">
            <div class="icon-area bg-blue">
              21<small>°C</small>
            </div>
            <div class="content-area">
              <div class="positive-value">
                <img class="icn" src="../assets/fire.svg">
                
                <span>26<small>°C</small>
                </span>
              </div>
              <div class="negative-value">
                <img class="icn" src="../assets/snowflake.svg">
                
                <span>18<small>°C</small>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Audio</h5>
          <div class="inner-content">
            <div class="count-area">
              2
            </div>
            <div class="content-area2 content-area">
              <div>
                <span class="badge">Playing</span>
              </div>
              <div class="positive-value">
                <p>Total</p>
                
                <span>5</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Displays</h5>
          <div class="inner-content display">
            <div class="count-area">
              10<small>/16</small>
            </div>
            <div class="content-area2 content-area">
              <div class="positive-value">
                <p>On Time</p>
                <span>00:00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lighting</h5>
          <div class="inner-content">
            <div class="count-area">
              32
            </div>
            <div class="content-area2 content-area">
              <div>
                <span class="badge">On</span>
              </div>
              <div class="positive-value">
                <p>Total</p>
                
                <span>43</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>