.cstm-container{
    max-width: 992px;
    .col-md-4{
        margin-bottom: calc(var(--bs-gutter-x) * 1);
        .card{
            background-color: #ececec;
            border-radius: 15px;
            border: none;
            height: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
            .card-body{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .card-title{
                    color: #2D2D2D;
                    font-size: 23px;
                    font-family: 'rotabold';
                }
            }
            .inner-content{
                display: flex;
                gap: 10px;
                .icon-area{
                    font-size: 48px;
                    background: #6DD0A5;
                    border-radius: 50%;
                    padding: 14px;
                    color: #ffffff;
                    line-height: initial;
                    font-weight: 600;
                    height: 80px;
                    width: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.bg-blue{
                        background-color: #5448C8;
                    }
                    small{
                        font-size: 22px;
                        align-self: end;
                        line-height: 1.5;
                    }
                }
                .count-area{
                    display: flex;
                    align-items: center;
                    width: 80px;
                    justify-content: center;
                    color: #5448C8;
                    font-size: 60px;
                    line-height: 0.4;
                    small{
                        font-size: 20px;
                        line-height: 2.3;
                        margin-left: 3px;
                        align-self: end;
                    }
                }
                .content-area{
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;
                    >div{
                        border-bottom: 1px solid #c9c4c4;
                        padding: 4px 0;
                        display: flex;
                        align-items: center;
                        img{
                            margin-right: 5px;
                            width: 22px;
                            &.icn{
                                width: 16px;
                            }
                        }
                        span{
                            font-size: 25px;
                            color: #999999;
                            font-weight: 600;
                            small{
                                font-size: 15px;
                            }
                        }
                        p{
                            color: #999999;
                            margin-bottom: 0;
                            font-weight: 500;
                        }
                        &:last-child{
                            border-bottom: 0;
                        }
                    }
                    &.content-area2{
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 20px;
                        .badge{
                            width: fit-content;
                            font-size: 16px;
                            background-color: #7dd3ae;
                            color: #fff;
                            text-transform: uppercase;
                        }
                        >div{
                            border: 0;
                            display: block;
                            span{
                                color: #2D2D2D;
                            }
                        }
                        .positive-value{
                            flex-direction: column;
                            display: flex;
                        }
                    }
                    
                }
                &.display{
                    .count-area{
                        border-right: 1px solid #c9c4c4;
                        padding-right: 10px;
                    }
                }
                
            }
        }
    }
    
    .logo{
        max-width: 200px;
        margin: 20px auto;
        display: block;
    }
}